@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply min-h-screen  bg-gradient-to-br from-slate-800 via-slate-700  to-slate-950 font-playpen;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #f1f5f9;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #94a3b8;
}
